<div class="modal-container">
  <h1 class="modal-title">Driver details</h1>

  <div class="modal-content">
    <p><strong>Estimated Price:</strong> {{ _price | currency:'EUR' }}</p>
    <p><strong>Distance from driver:</strong> {{ driverToUserDistance }} m</p>
    <p><strong>Distance from destination:</strong> {{ _totalDistance }} km</p>
  </div>

  <div class="buttons">
    <button class="button-pattern" (click)="closeModal(true)">Confirm driver</button>
    <button class="button-pattern" (click)="closeModal(false)">Cancel Ride</button>
  </div>
</div>
