<div class="modal-container">
  <h2 class="modal-title">Driver details</h2>

  <div class="modal-content">
    <p><strong>Estimated Price:</strong> {{ _price | currency:'EUR' }}</p>
    <p><strong>Distance from driver:</strong> {{ driverToUserDistance }} m</p>
    <p><strong>Distance from destination:</strong> {{ _totalDistance }} km</p>
  </div>

  <div>
    <button (click)="closeModal(true)">Confirm driver</button>
    <button (click)="closeModal(false)">Cancel request</button>
  </div>
</div>
