* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  padding: 20px;
}

.app-title {
  margin-bottom: 56px;
}

.button-pattern {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  margin: 0;
  padding: 0;
}

.map-frame {
  border: 2px solid #bdc3c7;
  width: 90%;
  height: 70%;
  max-width: 800px;
  max-height: 600px;
  min-width: 300px;
  min-height: 300px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  padding: 0;
  margin: 0;
}

input[type="text"],
button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #d0e1e7;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--bluish-grey);
  color: var(--light-color);
}

input[type="text"],
button {
  border-color: var(---color-grey-darker-30-opacity);
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}
